<div id="<%= dom_id cat %>">
  <p>
    <strong><%= Cat.human_attribute_name(:name) %></strong>
    <%= cat.name %>
  </p>

  <p>
    <strong><%= Cat.human_attribute_name(:age) %></strong>
    <%= cat.age %>
  </p>

</div>
